GOOGLE_SHEET_WEBHOOK=
FLASK_SECRET_KEY=change-this-secret

MANAGER_WEB_PASSWORD=web123
MANAGER_SOCIAL_PASSWORD=social123
MANAGER_ACCOUNTING_PASSWORD=accounting123
MANAGER_SALES_PASSWORD=sales123
MANAGER_HR_PASSWORD=hr123
