GOOGLE_SHEET_WEBHOOK=
FLASK_SECRET_KEY=change-this-to-a-long-random-value
SHEET_SECRET=change-this-to-a-long-random-value
SESSION_COOKIE_SECURE=1
MANAGER_LOGIN_PATH=/be-review-k4n

MANAGER_WEB_PASSWORD=
MANAGER_SOCIAL_PASSWORD=
MANAGER_ACCOUNTING_PASSWORD=
MANAGER_SALES_PASSWORD=
MANAGER_HR_PASSWORD=
